<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>stonks</title>
<link href="https://raw.githubusercontent.com/nastyaskutina/tiktok0/main/static/agree-outcome.css" rel="stylesheet" type="text/css">
</head>

<body>
<p class="thanks">Сделка прошла успешно!</p>
<div>
	<img id="business" src="https://raw.githubusercontent.com/nastyaskutina/tiktok0/main/static/businessmen.jpeg">
</div>
<a href="/">
    <div class="row">
        <div class="column"><p id="first">СЛЕДУЮЩАЯ П</p></div>
        <div class="column"><p><img src="https://raw.githubusercontent.com/nastyaskutina/tiktok0/main/static/lettering.png" alt="popito" id="popito"></p></div>
        <div class="column"><p>ПЫТКА</p></div>
    </div>
</a>
</body>
</html>
